<div class="container">
    <div class="card mt-5 add-product">
        <div class="card-header">
          <h3>Add New Product</h3>
        </div>
        <div class="card-body">
            <p class="text-success">{{addProductMessage}}</p>
          <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Product Name" ngModel name="name">
              </div>
            <div class="mb-3">
              <label for="price" class="form-label">Product price</label>
              <input type="text" class="form-control" id="price" placeholder="Enter Product Price" ngModel name="price">
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Product color</label>
                <input type="text" class="form-control" id="color" placeholder="Enter Product Color" ngModel name="color">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Product Category</label>
                <input type="text" class="form-control" id="category" placeholder="Enter Product Category" ngModel name="category">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Product Description</label>
                <textarea class="form-control" placeholder="Leave a comment here" id="description" ngModel name="description" rows="6"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Product Image URL</label>
                <input type="text" class="form-control" id="image" placeholder="Enter Product Image URL" ngModel name="image">
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
        
    </div>
</div>
