<div class="container mt-5">
    <div class="card">
        <h5 class="card-header"><h5 class="card-title">Product List</h5></h5>
        <div class="card-body">
          <p class="text-danger">{{productMessage}}</p>
          <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Color</th>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of productList">
                  <td><img src="{{item.image}}" alt="{{item.name}}"  class="img-fluid"></td>
                  <td>{{item.name}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.color}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.description}}</td>
                  <td><a class="btn btn-primary" routerLink="/seller-update-product/{{item.id}}">Update</a> &nbsp;<button class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</button></td>
                </tr>
            </tbody>
          </table>        
        </div>
      </div>
</div>

