.form-container{
    max-width: 600px;
    margin:  0 auto;
}
h4.pagetitle {
    border-radius: 10px;
    padding: 10px;
    background: #0D6EFD;
    margin-bottom: 29px;
    font-size: 19px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}