<div class="shop-banner pt-4 pb-4">
    <div class="container">
       <div class="row">
          <div class="col-xl-4 col-xxl-3 d-none d-xl-block">
             <div class="shop-banner__category">
                <ul>
                   <li><a href="#">Fashion &amp; Accessories</a></li>
                   <li><a href="#">Sports &amp; Entertainment</a></li>
                   <li><a href="#">Health &amp; Beauty</a></li>
                   <li><a href="#">Digital &amp; Electronics</a></li>
                   <li><a href="#">Tools, Equipment</a></li>
                   <li><a href="#">Sports and Outdoor</a></li>
                   <li><a href="#">Travel &amp; Accessories</a></li>
                   <li><a href="#">Machinery tools</a></li>
                   <li><a href="#">More category</a></li>
                </ul>
             </div>
          </div>
          <div class="col-12 col-xl-8 col-xxl-9">
            <div class="shop-banner-main">
                <div class="shop-banner-main__item item">
                    <div class="shop-banner-main__left">
                       <div class="shop-banner-main__content">
                          <span class="shop-banner-main__subtitle">INTRODUCING NEW</span>
                          <h3 class="shop-banner-main__title">Xiaomi Mi 11 Ultra <br> 12GB+256GB</h3>
                          <p class="shop-banner-main__info">*Data provided by internal laboratories. Industry
                             <br> measurement.
                          </p>
                          <div class="shop-banner-main__btn">
                             <a class="shop-btn" href="shop.html">Shop now <i class="icon-next"></i></a>
                          </div>
                       </div>
                    </div>
                    <div class="shop-banner-main__right">
                       <div class="shop-banner-main__img">
                          <img src="assets/images/slider-1-3.png" alt="mobile">
                          <span class="shop-banner-main__price">$590</span>
                       </div>
                    </div>
                 </div>
            </div>     
          </div>
       </div>
    </div>
 </div>