<ngb-carousel *ngIf="popularProduct">
	<ng-template *ngFor="let products of popularProduct" ngbSlide>
		<div class="picsum-img-wrapper" style="display: flex;justify-content: center;">
			<img src="{{products.image}}" alt="Random first slide" style="height: 600px;"/>
		</div>
		<div class="carousel-caption">
			<h3>{{products.name}}</h3>
			<p>{{products.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<section style="background-color: #eee;">
    <div class="container py-5">
    <h1 class="mb-4">Trendy Products</h1>
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-4" *ngFor="let product of allProducts">
          <div class="card">
            
            <div class="card-body">
                <div class="d-flex justify-content-center mb-3">
                    <img src="{{product.image}}"
              class="card-img-top" alt="{{product.name}}" style="height: 300px; width: 150px;"/>
                </div>
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">{{product.name}}</h5>
                <h5 class="text-dark mb-0">{{product.price}}</h5>
              </div>
              <div class="d-flex justify-content-start mb-3">
                <h5 class="mb-0">Color: {{product.color}}</h5>
              </div>

            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <a href="">View Details</a>
                    <a href="">Add to Cart</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>